@violet: mediumvioletred;
@blue: rgb(0, 162, 255);
@red: red;
@orange: orangered;
@yellow: yellow;
@grey: #14141B;
@white: #fff;

.violet {
	color: @violet
}
.blue {
	color: @blue;
}
.red {
	color: @red;
}
.orange {
	color: @orange;
}
.yellow {
	color: @yellow;
}
.grey{
	color: grey;
}
html {
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	body {
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin: 0;
		#scene{
			width: 100%;
			height:100%;
			z-index: -1;
			position: relative;
			.bg{
				position: absolute;
				top:-5% !important;
				left:-5% !important;
				background: url("img/bg.jpg") no-repeat center center;
				width: 110%;
				height: 110%;
				background-size: cover;
				filter:blur(1px)
			}
		}
		.container {
			@media screen and (max-width: 550px){
				transform: translate(-50%,-50%);
				transition: transform ease-in-out 0.3s;
				width: 300px;
				height: 480px;
			}
			transition: transform ease-in-out 0.3s;
			z-index: 0;
			margin: 0 auto;
			width: 480px;
			height: 300px;
			perspective: 1200px;
			.card {
				width: 100%;
				height: 100%;
				transition: transform 0.2s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
				transform-style: preserve-3d;
				color: white;
				.backdrop {
					height: 115px;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18c5ed+0,1cafff+8,207cca+19,f6ba64+35,fd6a7d+51,6c5589+70,1b6685+83,207cca+93 */
					background: #18c5ed; /* Old browsers */
					background: -moz-linear-gradient(-45deg, #18c5ed 0%, #1cafff 8%, #207cca 19%, #f6ba64 35%, #fd6a7d 51%, #6c5589 70%, #1b6685 83%, #207cca 93%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-45deg, #18c5ed 0%, #1cafff 8%, #207cca 19%, #f6ba64 35%, #fd6a7d 51%, #6c5589 70%, #1b6685 83%, #207cca 93%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(135deg, #18c5ed 0%, #1cafff 8%, #207cca 19%, #f6ba64 35%, #fd6a7d 51%, #6c5589 70%, #1b6685 83%, #207cca 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18c5ed', endColorstr='#207cca', GradientType=1); /* IE6-9 fallback on horizontal gradient */
					border-bottom-left-radius: 55%;
					&.reversed {
						border-bottom-left-radius: initial;
					}
				}
				.back {
					.expanded {
						border-radius: 15px;
						transition: border-radius 0.3s ease-in-out;
					}
					
					h1 {
						transform: translateY(0px);
						font-size: 16px;
						text-align: center;
						transition: font-size 0.5s ease-in-out, transform 0.5s ease-in-out;
						p {
							margin:0;
						}
						&.reversed {
							margin-top: 50px;
							margin-left: 50px;
							font-size:25px;
							text-align: left;
							.grey {
								font-size: 16px;
							}
						}
					}
					.about-me{
						display:none;
					}
				}
				.front {
					position: absolute;
					transform: rotateY(-180deg);
					.profile {
						position: absolute;
						top: 30px;
						left: 15px;
						opacity: 1;
						height: 170px;
						border-radius: 50%;
						backface-visibility: hidden;
						border: @grey solid 5px;

						@media screen and (max-width: 550px){
							left: 60px;
						}
					}
					.contact {
						position: absolute;
						right:6px;
						bottom:-6px;
						padding: 10px;

						@media screen and (max-width: 550px){
							right: 29px;
						}
					}

					.title {
						position: absolute;
						bottom: 0;
						left: 20px;
						padding: 3px;
						margin: 0;
						line-height: 12px;
						text-align: center;

						@media screen and (max-width: 550px){
							bottom: 180px;
							left: 64px;
						}
					}
				}
				.scroller {
					overflow-y: scroll;
					padding: 30px;
				}
			}
			.flipped {
				transform: translate(-50%,-50%) rotateY(-180deg);
			}
		}
	}
}

.side {
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 15px;
	padding: 0;
	background-color: @grey;
	overflow: hidden;
}

::-webkit-scrollbar {
	display: none;
}

div.wide{
	width: 50vw !important;
	height: 100vh !important;
	.side{
		border-radius: 0 !important;
		transition: border-radius 2s ease-in-out;
	}
}

.text {
	font-family: "Fira Mono", monospace;
	font-size: 13px;
	.l1 {
		border-left: @yellow solid 1px;
		padding-left: 30px;
		padding-top: 2px;
		padding-bottom: 2px;
		div {
			justify-content: normal;
			align-items: left;
		}
	}
	ul {
		padding: 0;
	}
	h4 {
		margin-top: 8px;
		margin-bottom: 2px;
		a {
			text-decoration: none;
			color:inherit;
			:hover{
				color: @white;
			}
		}
	}
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.wide {
	width: 70vw !important;
	height: 90vh !important;
	.profile{
		opacity: 0 !important;
	}
	.subtitle{
		display: none;
	}
	.about-me{
		display:block !important;
		margin-top: -200px;
		padding: 50px;
	}
}

@media screen and (max-width: 630px){
	.sidebar{
		overflow-x: scroll;
	}
}